<div class="col-12">
  <button pButton class="btn btn-primary" (click)="createCategory()">
    Create
  </button>
</div>

<div class="col-12">
  <button pButton class="btn btn-primary" (click)="createCategory()">
    Create
  </button>
</div>

<p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 25%">Id</th>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">Actions</th>
      <th style="width: 25%">Id</th>

      <th style="width: 25%">Name</th>
      <th style="width: 25%">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{ category.id }}</td>
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
        <button
          (click)="editCategory(category.id)"
          pButton
          class="p-button-primary">
          Edit
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="empty"> No Data </ng-template>
</p-table>
<p-paginator
  [totalRecords]="totalRecords"
  [first]="paging.page"
  [rows]="paging.size"
  (onPageChange)="onPageChange($event)"></p-paginator>
