<div class="col">
  <button pButton class="btn btn-primary col" (click)="createProduct()">
    Create
  </button>
</div>

<p-table
  class="grid col-12"
  [value]="products"
  [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 25%">Id</th>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">Price</th>
      <th style="width: 25%">Bought</th>
      <th style="width: 25%">Category</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.bought ? 'yes' : 'no' }}</td>
      <td>{{ product.category?.name }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="empty"> No Data </ng-template>
</p-table>
<p-paginator
  [totalRecords]="totalRecords"
  [first]="paging.page"
  [rows]="paging.size"
  (onPageChange)="onPageChange($event)"></p-paginator>
